NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://bhbwttnoutgsckpwatgl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=[YOUR-NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY]
NEXT_PUBLIC_SUPABASE_ANON_KEY=[YOUR-NEXT_PUBLIC_SUPABASE_ANON_KEY]

RESEND_API_KEY=[YOUR-RESEND_API_KEY]
RECEIVE_SIGNING_SECRET=[YOUR-]RECEIVE_SIGNING_SECRET
SEND_SIGNING_SECRET=[YOUR-SEND_SIGNING_SECRET]